.main-body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes wave {
  0% {
    color: #970c0c; /* Red */
  }
  25% {
    color: #6ad36a; /* Green */
  }
  50% {
    color: #4040b8; /* Blue */
  }
  75% {
    color: #9d469d; /* Magenta */
  }
  100% {
    color: #eb6464; /* Red */
  }
}

.new-post-container {
  height: auto;
  width: 70%;
  margin-top: 300px;
  max-width: 600px;
  position: absolute;
  font-size: 1.6rem;
  animation: wave 4s infinite;
  text-align: center;
  background-color: transparent;
}

.posts-container {
  background-color: transparent;
  max-width: 600px;
  position: absolute;
  width: 70%;
  max-height: 600px;
  margin-top: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .posts-container {
    width: 90%;
    margin-top: 740px;
  }
}

@media screen and (max-width: 440px) {
  .new-post-container {
    width: 90%;
    font-size: 1.4rem;
  }
}