.settings {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 90%;
  margin-left: 0px;
  margin-top: -46vh;
  background-color: blue;
}

.new-post-container {
  height: 60px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -190px;
  margin-top: -30vh;
  background-color: red;
}

.posts-container {
  background-color: transparent;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16vh;
  margin-left: -190px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}