.main-body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes wave {
  0% {
    color: #970c0c; /* Red */
  }
  25% {
    color: #6ad36a; /* Green */
  }
  50% {
    color: #4040b8; /* Blue */
  }
  75% {
    color: #9d469d; /* Magenta */
  }
  100% {
    color: #eb6464; /* Red */
  }
}

.page-header {
  height: auto;
  width: 70%;
  max-width: 600px;
  transition: font-size 0.3s ease;
  font-size: 1.6rem;
  animation: wave 4s infinite;
  text-align: center;
  margin-top: 100px;
}

.posts {
  background-color: transparent;
  max-width: 600px;
  width: 70%;
  max-height: 600px;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .posts {
    width: 90%;
  }
}

@media screen and (max-width: 440px) {
  .page-header {
    width: 90%;
    font-size: 1.4rem;
  }
}